.action {
    display: inline-flex;
    align-items: center;
    color: #F7FFF7;
    font-size: 20px; /*tamanho da fonte*/
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px; /*separar um elemento do outro*/
}
.action::before {
    content: "";
    background-color: #31572C;
    width: 10px;
    height: 10px;
    margin-right: 10px;

}