/* CSS HEX 
--phthalo-green: #132a13ff;
--hunter-green: #31572cff;
--sap-green: #4f772dff;
--olivine: #90a955ff;
--key-lime: #ecf39eff;*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #132A13;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}