.main-title {
    font-family: New Tegomin, Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #31572C;
    text-shadow: 4px 4px 0 #000;
}

.main-title.-second {    
    color: #F7FFF7;
    text-shadow: none;
    font-size: 60px;
    text-align: center;
}