.middle-section {
    background-color: #31572C;
    border-bottom: 10px solid #132A13;
    padding-top: 50px;
    padding-bottom: 100px;
}
.middle-section .main-title {
    margin-bottom: 60px;
}
.middle-section.-bgblack {
    background-color: black;
    border-bottom: 10px solid #31572C;
}