.middle-banner   {
    box-sizing: border-box;
    background-image: url(../../assets/img/logo/1920x1080_code-codes-data-click-programming-text.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    border-bottom: 10px solid #000;
    padding-top: 100px;
    padding-left: 90px;
    
}
.middle-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    
}
.middle-banner .box {
    margin-bottom: 40px;
    box-shadow: 10px 10px 0 #F7FFF7;
}
.middle-banner .navigation{
    display: flex;
    justify-content: space-around;
}
.middle-banner .main-button {
    box-shadow: 5px 5px 0 #F7FFF7;
}