.progress-bar {
    box-sizing: border-box;
    border: 5px solid #000;
    height: 40px;
    width: 320px;
    background-color: #132A13;
}   
.progress-bar::-webkit-progress-bar {
    background-color: #F7FFF7;
}
.progress-bar::-moz-progress-bar {
    background-color: #F7FFF7;
}
.progress-bar::-webkit-progress-value {
    background-color: #132A13;
}
